<h1>List Movie <%= @list.name %> </h1>



<% @list.bookmarks.each do |bookmark| %>
<li>
<%= bookmark.movie.title %>
<%= bookmark.comment %>
<%= link_to 'DELETE a bookmark', bookmark_path(bookmark), method: :delete %>
</li>
<% end %>


<p></p>

<%= link_to 'Create a bookmark', new_list_bookmark_path(@list) %>

<p></p>

<%= link_to 'Voltar as listas', lists_path %>
